/* Credito a https://css-tricks.com */

@import url(https://fonts.googleapis.com/css2?family=Actor);
@import url(https://fonts.googleapis.com/css2?family=Lato);

/* Posicion de los bloques princilapes: 
  body (flex, columnas) -> navbar (flex, filas) 
                        -> wrapper (flex, filas) -> aside (flex, columna)
                                                 -> main (flex, columna)
*/

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: .128px;
  background-color: black;
  padding: 32px;
  position:flex;
  flex-flow:column
}

.navbar {
  position: flex;
  flex-flow: row wrap;
  font-weight:normal;
  text-align: center;
  margin-top: 0px;
} 

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight:normal;
  text-align: center;
}

/* .wrapper > * {
  padding: 10px;
  flex: 1 100%;
} */

.aside {
  background: #d1cece;
  box-shadow: 100px 100px 100px 100px black;

}

.main {
  background: whitesmoke;
  display: flex;
  flex-flow: column;
  padding-left: 10px;
  text-align: left;
}

.barracolor {
  background-color: #b5324a;
}

.sobremi {
  margin-bottom: 5px;
  background: whitesmoke;
}

.Educacion {
  margin-bottom: 5px;
  background: whitesmoke;
}

.Experiencia {
  margin-bottom: 5px;
  background: whitesmoke;
}

.Academia {
  margin-bottom: 5px;
  background: whitesmoke;
}

.Skills {
  margin-bottom: 5px;
  background: whitesmoke;
}

.Contacto {
  margin-bottom: 5px;
  background: whitesmoke;
}


.Educacion .envolvente1 {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  list-style: none;
}

.contenedor1 {
  display:flex;
  flex-flow: row;
  justify-content: flex-start;
  text-align: left;
}

.item1 {
  margin-right: 5%;
  min-width: fit-content;
}

.item2 {
  text-align: right;
  margin-top:0px;
  margin-bottom: 0px;
  margin-right: 15px;  
}

.item3 {
  text-align: right;
  margin-top:0px;
  margin-bottom: 0px;
  margin-right: 15px;  

}

.contenedor2 {
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: left;
}

.portada {
  margin-top:56px;
  display: flex;
  flex-flow: column;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0px; 
    background: #b5324a;
}

.navigation a:hover {
  background: #1565C0;
}

.redessociales li {
  display:inline;
  padding-left:0px;
  padding-right:0px;
}


/* Imagenes */

.wrapper .aside .portada .foto img {
  width: 60%;
  height: auto;
  border-radius: 100%;
}

/* fuentes y texto*/

h1,h2 { 
  color: black;
  font-family: Actor; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 26.4px; 
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 { 
  color: black;
  font-family: Actor; 
  font-size: 18px; 
  font-style: normal; 
  font-variant:normal; 
  font-weight: 400; 
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

p, a, li {
  font-size: 15px; 
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: .128px;
  color: black;
  font-variant: normal; 
  border: 0px;
  padding: 0px;
  margin: 0px
}

ul {
  font-size: 1em; 
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: .128px;
  color: black;
  font-variant: normal; 
  border-left: 15px;
  padding-left: 15px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.navigation a {
  text-decoration: none;
  display: block;
  padding: 16px;
  color: white;
}  

.Educacion .envolvente1 .contenedor1 .item1 {
  font-style:oblique;
  margin-bottom: 0px;
}

/* Formulario Contacto */

.contact_form{	
	width: 460px; 
  height: auto;
  margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}

input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #b5324a; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}

label{
  display: block; 
	float: center; 	
}

button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #b5324a; 
	border-color: #b5324a; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}

  /* CSS Responsive Design - Se encuentra incompleto pero dejo indicada la seccion*/

@media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
}
  
@media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}
  
@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .Navbar  { order: 1; } 
    .aside   { order: 2; }
    .main    { order: 3; }
} 
